*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html { 
        background-color:#fff;
  /*background: url(bg_blurred.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body { 
    webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; -webkit-highlight: none; -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin:0px;
}


input[type=range].vVertical {
    display:block;
    -webkit-appearance: slider-vertical;
    width: 6px;
    margin: 0px auto;
    margin-top:20px;
    height:210px;
}

.img-spectro{
    position:relative;
    z-index:-2;
    height:60px;
    top:0px;
    display:block;
    width:100%;
}

.btn{
    background-color:rgba(0,0,0,0);
    color:#333;
    border-radius: 7px;
    border: solid 3px #333;
    width:66px;
    height:66px;
    font-size: 35px;
    line-height:66px;
    text-align: center;
    display:block;
    vertical-align: bottom;
    margin-bottom:5px;

}

.hidden{
    display:none;
}

.btn-volume{
    background-color:rgba(0,0,0,0);
    color:#333;
    border-radius: 7px;
    border: solid 3px #333;
    width:66px;
    height:66px;
    font-size: 35px;
    line-height:66px;
    text-align: center;
    display:block;
    vertical-align: bottom;
    margin-bottom:5px;
    height:300px;
}

.btn-volume-inner:hover{
        color:#000;
    cursor:pointer;
}

.btn:hover{
    background-color:rgba(0,0,0,.1);
    color:#000;
    cursor:pointer;
    border-color: #000;
}

h1{
    font-family:  Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin:0px;
    padding:20px 0px 20px 0px;
    border: solid 0px #ddd;
    border-width: 0px 1px 1px 1px;
    text-align:center;
}

#playlist{
    position: absolute; 
    top: 10px;
    bottom: 30px;
    left: 86px;
    right: 86px;

    border: solid 0px #ddd;
    border-top-width: 1px;
}

#menu-left{
    position:fixed;
    left:10px;
    top:10px;
}

#menu-right{
    position:fixed;
    right:10px;
    top:10px;
     width:30%;
}

.song{
    color:#555;
    height:100px;
    margin:0px;
    background-color: rgba(235, 235, 235, .4);
    position:static;
    cursor:pointer;
    line-height:35px;
    overflow:hidden;
    white-space:nowrap;
    font-size:22px;
font-family:  Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   vertical-align:top;
   width:auto;
    z-index:1;

    border: solid 1px #ddd;
    border-top-width: 0px;



}

.notplaying:hover{
    color:#000;
    background-color: rgba(255, 255, 255, 0);
}

.playing{
    font-weight:600;
    color:#000;
    box-shadow: 0px 0px 30px rgba(0,0,0,.3);

    border-color: #ccc;
}

.left{
    position:relative;
    float:left;
    top:0px;
    z-index:10;
}

.right{
    float:right;
    z-index:10;
}

.blue{
 position:absolute;
    background-color:rgba(100,100,255,.3);
    width:0px;
    height:100px;
    z-index:4;
}

.grey{
     position:absolute;
    background-color:rgba(0, 255, 0, .1);
    height:100px;
    left:0px;
    z-index:3;
    width:0px;
    border: solid 0px #ccc;
    border-right-width:1px;
}
    
   
